@import url('//niklasl.github.io/ldtr/demo//visualizer.css');
@import url('//niklasl.github.io/ldtr/demo//arrows.css');
@import url('//niklasl.github.io/ldtr/demo//colors/vintage.css');

body {
  font-family: verdana;
  font-size: 0.75vw;
  margin: 0;
  padding: 0;
  background-color: #dce4dd;
}

section {
  width: 120em;
  padding-left: 0.6em;
}

article.card .card p {
  margin-left: 0;
}

.card .card {
  margin-left: 1em;
}

article.card {
  background-color: rgb(253, 255, 254);
  min-width: auto;
  max-width: auto;
  width: 32em;
  float: left;
  overflow: visible;
}

article.card.graph article.card {
  width: 30em;
}

article.card.selected {
  background-color: #fefeee;
}

article.card.target {
  background-color: rgba(224, 255, 255, 0.8);
}

article.card.graph {
  background-color: rgba(236, 244, 237, 0.8);
}

path.arrow {
  opacity: 0;
}
path.arrow.rel {
  opacity: 0.2;
  stroke: rgb(103, 111, 111, 0.6);
}
#arrowhead-rel { fill: rgb(103, 111, 111, 0.6); }
path.arrow.rev {
  opacity: 1;
  stroke: #601;
}
#arrowhead-rev { fill: #601; }
span.arrow.rev { visibility: hidden; }

div.display {
  background-color: #ecf4ed;
  width: 24em;
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  font-size: 0.9vw;
  font-weight: bold;
  z-index: 20;
}

div.display > p {
  display: block;
  padding: 1em 0.5em;
  margin: 0;
}

p.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

p.complete:hover {
  text-decoration: none;
  opacity: 0.8;
}

div.note {
  background-color: #fffadf;
  width: 21em;
  padding: 0.5em;
  position: fixed;
  bottom: 6em;
  right: 0.5em;
  font-size: 0.9vw;
  font-weight: bold;
  border: 1px dashed #000;
  visibility: hidden;
}

div.note.showing {
  visibility: visible;
}

button {
  position: fixed;
  bottom: 1.2em;
  right: 1.2em;
  z-index: 100;
  width: 3em;
  height: 3em;
  border: none;
  background-color: #eee;
  outline: 1pt solid #aaa;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #444;
  font-size: 1.2em;
  color: #666;
  text-shadow: 1px 1px 1px #444;
  font-weight: bold;
}
button:focus {
  box-shadow: 1px 1px 3px #111;
}
